@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "CelebrityProfile";
}

<h2>Celebrity Profile</h2>

<div class="jumbotron">
    <div class="container">
        <h4>Successfully created</h4>
    </div>
</div>