@model IEnumerable<DataAccess.CelebrityDataExtended>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "NameSearch";
}

<h4>Name Search</h4>
<hr />
<br />
@if (Model == null)
{
    <div class="form-group ">
         <div class="col-md-5 col-md-offset-2">
            <strong class="form-control">There is no Search item.</strong>
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
            <div class="btn btn-danger">
                <a href="@Url.Action("Search","Celebrity")">Back</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="panel panel-default col-md-5 col-md-offset-2">


        <table class="table ">
            @foreach (var celebrity in Model)
            {
                <tr>
                    <td><img src="@celebrity.Link" style="height:68px;width:70px; border-radius: 50%;position: static;"/><strong> @Html.ActionLink((celebrity.FirstName + "  " + celebrity.LastName), "Changesetting", "Celebrity", new { id = celebrity.CelebrityId }, new { @class = "col col-sm-offset-1" })</strong> </td>

                </tr>

            }
        </table>


    </div>
}





