@model IEnumerable<DataAccess.Celebrity>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "NameSearch";
}

<h4>Name Search</h4>
<br />
<div class="panel panel-default col-md-5 col-md-offset-2">
    
    <!-- Table -->
    <table class="table ">
        @foreach (var celebrity in Model)
        {
        <tr>
            <td >@Html.ActionLink((celebrity.FirstName+"  "+celebrity.LastName), "CelebrityProfile", "Celebrity", new { id = celebrity.CelebrityId }, new { @class="col col-sm-offset-1"}) </td>
            
        </tr>
        
        }
    </table>
</div>

    



    
