@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "VerifyAccount";
}



@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Success ! </strong>your Account has been successfully activated. Click here to @Html.ActionLink("Login", "Login", "Account")
    </div>
}
else
{
    <div class="alert alert-success">
        <strong>Error !</strong> @ViewBag.Message
    </div>
}

