@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Home Page";
}
<hr />
<div id="details">
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h1>@Model.tUsers</h1>
            </div>
            <div class="panel-footer"> <h3> Users</h3></div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h1>@Model.tCelebrities</h1> 
            </div>
            <div class="panel-footer"><h3>Celebrities</h3> </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h1>@Model.tAdmins</h1>
            </div>
            <div class="panel-footer"><h3>Admins</h3> </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h1>@Model.blockedUsers</h1>
            </div>
            <div class="panel-footer"><h3> Blocked Users</h3></div>
        </div>
    </div>
</div>
